<div class="subnav">
    <h3>Tree ({{ fileName() }})</h3>
    <div class="buttons">
      <button class="btn btn-info" (click)="downloadPng()">Download as PNG</button>
      <button class="btn btn-info" (click)="downloadPdf()">Download as PDF</button>
  </div>
    <div id="info" *ngIf="info()">
        <div id="message" class="alert alert-info">{{ info() }}</div>
    </div>
</div>
<div id="visualization"></div>
<div *ngIf="loading()" class="loader"></div>
<div *ngIf="stabilizationInProgress()" class="stabilization-message">
    Stabilizing graph layout...
</div>
