<div class="about">
  <div class="about_header">
    <h4>About ForVis Project</h4>
    <h6>Logical formula visualization system created at AGH UST in Kraków, Poland. </h6>
  </div>
  <p>The following portal is publicly available and free of charge if used for non-commercial purposes. <br>
    If you like it, you can, although you do not have to, send us a photo of your neighbourhood as an electronic postcard (rklimek&#64;agh.edu.pl) or a
    traditional postcard (dr. hab. Radoslaw Klimek prof. AGH, Department of Applied
    Computer Science, AGH University of Science and Technology, Al.
    Mickiewicza 30, 30-059 Kraków, Poland).</p>
  <h5>People contributing to the success of this project:</h5>
  <h6>Project coordinator:</h6>
  <div class="about_footer">
    <a href="http://home.agh.edu.pl/~rklimek" target="_blank">Radosław Klimek PhD, DSc, Eng.</a><br/>
    <h6 style="margin-top: 7px">Students:</h6>
    Paweł Baranowski,<br/>
    Krzysztof Pala,<br/>
    Kevin Stuka, <br/>
    Kalina Rączka, <br/>
    and many others.
  </div>
</div>
